:global {
  .button {
    width: 34px;
    height: 34px;
    align-items: center;
    border: 1px solid #adb5bd;
    border-radius: 8px 0 0 8px;
    color: #adb5bd;
    background-color: transparent;
    padding: 0;
    margin: 0;

    &:hover {
      color: #ffffff;
      background-color: #198754;
    }

    &:active {
      background-color: #f8f9fa;
      color: #111111ff;
    }
  }
}
